<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Poppins:wght@700&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merriweather+Sans:wght@700&family=Poppins:wght@700&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/3a4518f943.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <!-- <link rel="stylesheet" href="styles/5star.css"> -->
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <link rel="stylesheet" href="/css/faq.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src='/js/main.js'></script>
</head>

<body>
    <%- include('partials/navbar')%>


    <h1 class="top">FAQs</h1>
    <div class="data">
        <details open>
            <summary>What is Mess Timing?</summary>
            <div class="faq__content">
                <p>Break-fast ->  7:00AM - 9:00AM
                    <br>
                    Lunch -> 12:00PM - 2:00PM
                    <br>
                    Snacks -> 5:00PM - 6:00PM
                    <br>
                    Dinner -> 8:00PM - 10:00PM
                </p>
            </div>
        </details>
        <details>
            <summary>How many counter are there?</summary>
            <div class="faq__content">
                <p>There are 4 counters in mess.</p>
            </div>
        </details>
        <details>
            <summary>Is Non-vegetarian food available in mess?</summary>
            <div class="faq__content">
                <p>No, It is not available in mess.</p>
            </div>
        </details>

        <details>
            <summary>Is Milk available Everyday?</summary>
            <div class="faq__content">
                <p>Yes, it will be available in Morning with breakfast.</p>
            </div>
        </details>
        <details>
            <summary>Can visitors also eat food in mess?</summary>
            <div class="faq__content">
                <p>Yes visitors can also eat food in mess but they will have to pay for it.</p>
            </div>
        </details>
        <details>
            <summary>What to do if you don't like the food?</summary>
            <div class="faq__content">
                <p>You can do Complaint for it on mess website.</p>
            </div>
        </details>
        <details>
            <summary>Can we request for menu change?</summary>
            <div class="faq__content">
                <p>Yes, you can request for menu change through our website.</p>
            </div>
        </details>
        <details>
            <summary>Will dinner be available at 7:30PM for those participating in coding contests?</summary>
            <div class="faq__content">
                <p>Yes, it will be available.</p>
            </div>
        </details>
    </div>
    <br><br><br><br><br>

    <%- include('partials/footer')%>
</body>

</html>