<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>New Complaint</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merriweather+Sans:wght@700&family=Poppins:wght@700&display=swap');
    </style>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/form_css.css'>
    <script src='/js/main.js'></script>
</head>

<body>
    <!-- #Navbar-->
    <%- include('partials/navbar')%>

    <!-- /////////////////////////Selection Bar///////////////////// -->
    <div class="menu_day_list_container">
        <div class="menu_day_list">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Sign up</a></li>
    
            </ul>
        </div>
    </div>

    <!-- ////////////////////Complaint Form body////////////////// -->
    <form action="/login" method="POST">
        <div class="form_container">
            <div class="form-section">
                <label for="rollno"><b>Username</b></label>
                <input type="text" placeholder="" name="username" id="username" required>
            </div>

            <div class="form-section">
                <label for="email"><b>Password</b></label>
                <input type="password" placeholder="" name="password" id="password" required>
            </div>
           



            <div class="set-reset">
                <input type="submit" value="Submit">
                <!-- <input type="reset" value="Reset"> -->
            </div>
            <br>
            <br>

        </div>
    </form>









    <!-- <div class="footer_main"> -->
        <%- include('partials/footer')%>
</body>

</html>