<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Mess Committee</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&family=Poppins:wght@700&display=swap');
</style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merriweather+Sans:wght@700&family=Poppins:wght@700&display=swap');
</style>
<script src="https://kit.fontawesome.com/3a4518f943.js" crossorigin="anonymous"></script>  
<link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
  <script src='/js/main.js'></script>
</head>

<body>
  <!-- #Navbar-->
  <%- include('partials/navbar')%>

  <!-- ////////////////////Mess Incharge/////////////////// -->
  <div class="heading"> Mess Incharge</div>

  <div class="team_page_row1">
    <section class="team_profile-card">
      <div class="container">
        <div class="left team-pic-1"></div>
        <div class="right">
          <div class="content">
            <h1>Shubham</h1>
            <p> Mess Secretary </p>
            <!-- <a href="#" class="btn">Click Me</a> -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <br>

  <div class="team_page_row2">
    <section class="team_profile-card">
      <div class="container">
        <div class="left team-pic-2"></div>
        <div class="right">
          <div class="content">
            <h1> Anshuman </h1>
            <p> Mess Secretary  </p>
            <!-- <a href="#" class="btn">Click Me</a> -->
          </div>
        </div>
      </div>
    </section>
    <section class="team_profile-card">
      <div class="container">
        <div class="left team-pic-3"></div>
        <div class="right">
          <div class="content">
            <h1>Aditya</h1>
            <p>Mess Secretary  </p>
            <!-- <a href="#" class="btn">Click Me</a> -->
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="team_page_row3">
    <section class="team_profile-card">
      <div class="container">
        <div class="left team-pic-4"></div>
        <div class="right">
          <div class="content">
            <h1>Pranesh</h1>
            <p> Mess Coordinator </p>
            <!-- <a href="#" class="btn">Click Me</a> -->
          </div>
        </div>
      </div>
    </section>
    <section class="team_profile-card">
      <div class="container">
        <div class="left team-pic-5"></div>
        <div class="right">
          <div class="content">
            <h1>Soumalya</h1>
            <p> Mess Coordinator </p>
            <!-- <a href="#" class="btn">Click Me</a> -->
          </div>
        </div>
      </div>
    </section>
  </div>

  
  
  <!-- <div class="footer_main"> -->
    <%- include('partials/footer')%>
</body>

</html>